@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background-image: url('/images/skulls.svg'),
    linear-gradient(to right, #d66d75, #e29587);
  background-size: 50px, auto;
  background-attachment: fixed;
  min-height: calc(100vh - 100px);
  margin: 50px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  color: #333333;
  font-size: 16px;
}

h1,
h2,
h4 {
  font-family: 'Permanent Marker', 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
  color: #ffffff;
  text-shadow: 4px 4px 0px #333;
}

button {
  padding: 25px;
  border-radius: 6px;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.4);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
  transition: background 150ms ease-in-out;
  /* visibility: hidden; */
}

button:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

h2 {
  margin: 25px auto;
}

* {
  box-sizing: border-box;
}

.great-logo {
  animation: 1.5s logo-animation alternate-reverse infinite;
}

@keyframes logo-animation {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg) scale(1.05) skew(-7deg 7deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
